
<div class="container ">
  <div class="row">
    <div class="col-md-12">
      <h2>Jobs</h2>
    </div>
    <div class="col-md-2">
      <div>
        Search
        <input type="text" id="search" [(ngModel)]="searchTerm" (keyup)='onChangeSearchTerm($event.target.value)'>
      </div>
    </div>
    <div class="col-md-10">
    
      <div class="row">
        
        
        <div class="col-md-12 col-sm-6 pointer" *ngFor="let jobs of jobsPost; let i = index" (click)="selectProduct(jobs.job_post_id )">
          <div class="card my-2" (click)="selectProduct(jobs.job_post_id )">
            <img [src]="(jobs.job_thumbnail) ? BASE_URL+'/'+jobs.job_thumbnail : ''" alt="{{jobs.name}}" width="200px" class="card-img-top" style="cursor: pointer;" (click)="selectProduct(jobs.job_post_id)">
            <div class="card-header">
              <div class="card-title">
                <p (click)="selectProduct(jobs.job_post_id )">{{jobs.job_post_title | titlecase}}</p>
              </div> 
            </div>
            <div class="card-body">
              <h6>{{jobs.job_post_content.substr(0, 100)}} ...</h6>
              
            </div>

            <div class="row d-flex justify-content-center border-primary my-3">
              <div class="col-md-6">
                
              </div>
            </div>


          </div>
        </div>
      </div>
  </div>
  </div>
</div>

