<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <ul class="">
            <li><a href="#">Home</a></li>
           
            
            <li class="active">{{myData?.job_post_title}}</li>
          </ul>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /BREADCRUMB -->
  
  <!-- SECTION -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- Product main img -->
        
  
        <!-- Product thumb imgs -->
        <!-- <div class="col-md-12  col-md-pull-5">
          
          <img [src]="(myData?.job_thumbnail) ? BASE_URL+'/'+myData?.job_thumbnail : ''" alt="{{myData?.job_post_title}}" class="card-img-top" style="cursor: pointer;">
        </div> -->
        <!-- /Product thumb imgs -->
  
        <!-- Product details -->
        <div class="col-md-12">
          <div class="product-details">
            <h1 >{{myData?.job_post_title}}</h1>
            <div class="row">
              <div class="col-md-6">
                <ul>
                  <li>Language:English</li>
                  <li>Job level: {{myData?.job_level}}</li>
                  <li>Hours: {{myData?.job_type}}</li>
                  <li>Posted: {{myData?.created_at.substring(0, 10)}}</li>
                  
                </ul>
              </div>
              <div class="col-md-6">
                <ul>
                  <li>Salary:{{myData?.salary_details}}</li>
                  <li>Closes:{{myData?.closes_date}}</li>
                  <li>Catagory:{{myData?.job_category}}</li>
                  
                  
                </ul>
              </div>
            </div>
            
            <h3>Job details:-</h3>
            <p>
              {{myData?.job_post_content}}
            </p>
           <div *ngIf=" checkData == false ">
            <button mat-button (click)="onclickApply(myData?.job_post_id)" color="accent" *ngIf="userRole == '555' || userRole == null " >Apply Job</button>
           </div>
           <div *ngIf=" checkData == true ">
            <button mat-button  color="accent" *ngIf="userRole == '555' || userRole == null " >Job Applied</button>
           </div>
            
            <button mat-button (click)="onclickEdit(myData?.job_post_id)" color="accent" *ngIf="userRole == '666'  && userID == myData?.author">Edit Job</button>
  
            
  
            
  
          </div>
        </div>
        <!-- /Product details -->
  
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /SECTION -->
  
