<div class="container my-5">
    <ng-container *ngIf="registrationMessage?.length > 0">
      <div class="alert alert-success alert-dismissible">
        {{registrationMessage}}
      </div>
    </ng-container>
  
    <form (ngSubmit)="editData()" [formGroup]="profileForm" class="form-horizontal" novalidate>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h2>Edit Student</h2>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="fname">First Name</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-prepend" style="width: 2.6rem"><i class="fa fa-user"></i></div>
              <input class="form-control" formControlName="fname" id="fname" name="fname"
                     placeholder="John"
                     required type="text">
                     <input class="form-control" formControlName="id" id="id" name="id"
                    placeholder="Doe"
                    required type="hidden">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-control-feedback">
                          <span class="text-danger align-middle">
                              <!-- Put name validation error messages here -->
                          </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="lname">Last Name</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-prepend" style="width: 2.6rem"><i class="fa fa-user"></i></div>
              <input class="form-control" formControlName="lname" id="lname" name="lname"
                     placeholder="Doe"
                     required type="text">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-control-feedback">
                          <span class="text-danger align-middle">
                             
                          </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="email">E-Mail Address</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
              <input class="form-control" formControlName="email" id="email" name="email"
                     placeholder="you@example.com"
                     required type="text" readonly>
            </div>
          </div>
    
        </div>
        
      </div>

      
  
  
  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="lname">Gender</label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-prepend" style="width: 2.6rem"><i class="fa fa-user"></i></div>
          
                 <select class="form-control"  formControlName="gender" name="gender" id="gender" required>
                  <option >Select A Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
                  
                </select>
        </div>
      </div>
      
    </div>
    <div class="col-md-3">
      <div class="form-control-feedback">
                      <span class="text-danger align-middle">
                          <!-- Put name validation error messages here -->
                      </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="lname">Date Of Birth</label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-prepend" style="width: 2.6rem"><i class="fa fa-user"></i></div>
          <input class="form-control" formControlName="dob" id="dob" name="dob"
          placeholder="you@example.com"
          required type="date">
                 
        </div>
      </div>
      
    </div>
    <div class="col-md-3">
      <div class="form-control-feedback">
                      <span class="text-danger align-middle">
                          <!-- Put name validation error messages here -->
                      </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="lname">Field Of Study</label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-prepend" style="width: 2.6rem"><i class="fa fa-user"></i></div>
          <input class="form-control" formControlName="field_of_study" id="field_of_study" name="field_of_study"
          placeholder="Field Of Study"
          required type="text">
                 
        </div>
      </div>
      
    </div>
    <div class="col-md-3">
      <div class="form-control-feedback">
                      <span class="text-danger align-middle">
                          <!-- Put name validation error messages here -->
                      </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="lname">University Name</label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-prepend" style="width: 2.6rem"><i class="fa fa-user"></i></div>
          
                 <select class="form-control"  formControlName="university_name" name="university_name" id="university_name" required>
                  <option >Select A Gender</option>
                  <option value="Australian National University">Australian National University</option>
                  <option value="University of Canberra">University of Canberra</option>
                  <option value="Australian Catholic University">Australian Catholic University</option>
                  <option value="Charles Sturt University">Charles Sturt University</option>
                  <option value="Macquarie University">Macquarie University </option>
                  <option value="Southern Cross University">Southern Cross University </option>
                  <option value="University of New England">University of New England </option>
                  <option value="University of New South Wales">University of New South Wales </option>
                  <option value="University of Newcastle">University of Newcastle </option>
                  <option value="University of Sydney">University of Sydney </option>
                  <option value="Bond University">Bond University </option>
                  <option value="Griffith University">Griffith University </option>
                  <option value="James Cook University">James Cook University </option>
                  <option value="Queensland University of Technology">Queensland University of Technology  </option>
                  <option value="University of Queensland">University of Queensland  </option>
                  
                  
                </select>
        </div>
      </div>
      
    </div>
    <div class="col-md-3">
      <div class="form-control-feedback">
                      <span class="text-danger align-middle">
                          <!-- Put name validation error messages here -->
                      </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="lname">Student ID</label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-prepend" style="width: 2.6rem"><i class="fa fa-user"></i></div>
          <input class="form-control" formControlName="student_id" id="student_id" name="student_id"
          placeholder="Student ID"
          required type="text">
                 
        </div>
      </div>
      
    </div>
    <div class="col-md-3">
      <div class="form-control-feedback">
                      <span class="text-danger align-middle">
                          <!-- Put name validation error messages here -->
                      </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="lname">Student Exp Date</label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-prepend" style="width: 2.6rem"><i class="fa fa-user"></i></div>
          <input class="form-control" formControlName="student_exp_date" id="student_exp_date" name="student_exp_date"
          placeholder="Student Exp Date"
          required type="date">
                 
        </div>
      </div>
      
    </div>
    <div class="col-md-3">
      <div class="form-control-feedback">
                      <span class="text-danger align-middle">
                          <!-- Put name validation error messages here -->
                      </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="lname">Course Name</label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-prepend" style="width: 2.6rem"><i class="fa fa-user"></i></div>
          <input class="form-control" formControlName="course_name" id="course_name" name="course_name"
          placeholder="Course Name"
          required type="text">
                 
        </div>
      </div>
      
    </div>
    <div class="col-md-3">
      <div class="form-control-feedback">
                      <span class="text-danger align-middle">
                          <!-- Put name validation error messages here -->
                      </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="email">Student Id Image</label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
          <input class="form-control" (change)="onFileSelect($event)"  id="productImages" name="productImages"
                 
                 required type="file" readonly>
        </div>
      </div>
    </div>
    
  </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <button [disabled]="(profileForm.invalid || profileForm.pending) && profileForm.touched "
                  class="btn btn-success" type="submit">
            <i class="fa fa-user-plus"></i> Register Student
          </button>
        </div>
      </div>
    </form>
  </div>
  