<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <ul class="">
            <li><a href="#">Home</a></li>
           
            
            <li class="active">{{myData?.title}}</li>
          </ul>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /BREADCRUMB -->
  
  <!-- SECTION -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- Product main img -->
        
  
        <!-- Product thumb imgs -->
        <div class="col-md-12  col-md-pull-5">
          
          <img [src]="(myData?.image) ? BASE_URL+'/'+myData?.image : ''" alt="{{myData?.title}}" class="card-img-view" style="cursor: pointer;">
        </div>
        <!-- /Product thumb imgs -->
  
        <!-- Product details -->
        <div class="col-md-12">
          <div class="product-details">
            <h1 >{{myData?.title}}</h1>
            <div class="row">
              <div class="col-md-6">
                <ul>
                  <li>At :{{myData?.restaurants_name}}</li>

                </ul>
              </div>
              
            </div>
            <hr>
            <h3>Food details:-</h3>
            <p>
              {{myData?.description}}
            </p>
            <hr>
            <h3>About this student discount:-</h3>
            <p>
              {{myData?.food_contract}}
            </p>
           <hr>

            <a href="{{myData?.url}}" *ngIf="userRole == '555' || userRole == null">Apply Food</a>
            <button mat-button (click)="onclickEdit(myData?.food_post_id)" color="accent" *ngIf="userRole == '666'  && userID == myData?.author">Edit Job</button>
  
            
  
            
  
          </div>
        </div>
        <!-- /Product details -->
  
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /SECTION -->
  
