<!-- SECTION -->
<div class="section">
  <img src="/assets/img/pexels-anastasiya-gepp-1462630.jpg" alt="" style="width: 100%;">
  <!-- container -->
  
  
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
   
    <div class="row">

      
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">Room rent</h3>

        </div>
      </div>
      

      <div class="col-md-4 col-sm-6 pointer" *ngFor="let accomo of accomodation; let i = index">
        <div class="card my-2" (click)="selectProductAcco(accomo.accomodation_id)">
          <img [src]="(accomo.accomodation_post_images && accomo.accomodation_post_images[0]) ? BASE_URL+'/'+accomo.accomodation_post_images[0] : ''" alt="{{accomo.name}}" width="200px" class="card-img-top" style="cursor: pointer;" (click)="selectProductAcco(accomo.accomodation_id)">
          <div class="card-header">
            <div class="card-title">
              <!-- <p>{{accomo.title | titlecase}}</p> -->
              <p class="lead">{{accomo.accomodation_price}}</p><p>{{accomo.accomodation_type}}</p>
            </div> 
          </div>
          <div class="card-body">
            <h6>{{accomo.address}}</h6>
            
            <i class="fa fa-bed" aria-hidden="true"></i>  {{accomo.bedroom}}&nbsp;&nbsp;
            <i class="fa fa-bath" aria-hidden="true"></i>  {{accomo.bathroom}}&nbsp;&nbsp;
            <i class="fa fa-car" aria-hidden="true"></i>   {{accomo.parking_area}}&nbsp;&nbsp;
            <hr>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <a routerLink="/accomodations" class="btn btn-primary"> View All Room Rent</a>
      </div>
      
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">Jobs</h3>

        </div>
      </div>
      <div class="col-md-12 col-sm-6 pointer" *ngFor="let jobs of jobsPost; let i = index">
        <div class="card my-2" (click)="selectProductJob(jobs.job_post_id )">
         
          <div class="card-header">
            <div class="card-title">
              <p>{{jobs.job_post_title | titlecase}}</p>
            </div> 
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <p>{{jobs.job_post_content.substr(0, 500)}} ...</p>
                <ol>
                  <li>{{jobs.job_type}}</li>
                </ol>
                <p></p>
                <p>{{jobs.salary_details}}</p>
              </div>
              <div class="col-md-4">
                <p>{{jobs.job_address}}</p>
                <p>{{jobs.created_at.substring(0,10)}}</p>
              </div>
            </div>
            
            
            
            
           
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <a routerLink="/jobs" class="btn btn-primary"> View All Jobs </a>
      </div>
     
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">Food</h3>

        </div>
      </div>
      <div class="col-md-4 col-sm-6 pointer" *ngFor="let food of foodPost; let i = index" (click)="selectProductFood(food.food_post_id  )">
        <div class="card my-2" (click)="selectProductFood(food.food_post_id  )">
          <img [src]="(food.image) ? BASE_URL+'/'+food.image : ''" alt="{{food.name}}" width="200px" class="card-img-top" style="cursor: pointer;" (click)="selectProductFood(food.food_post_id )">
          <div class="card-header">
            <div class="card-title text-center">
              <p (click)="selectProductFood(food.food_post_id  )">{{food.title | titlecase}}</p>
            </div> 
          </div>
          <!-- <div class="card-body">
            <h6>{{food.description.substr(0, 200)}} ...</h6>
            
          </div> -->
        </div>
      </div>
      <div class="col-md-12 text-center">
        <a routerLink="/food" class="btn btn-primary"> View All Food </a>
      </div>
      
    </div>
    
  </div>
 
</div>
<!-- /SECTION -->

<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="hot-deal">
          <ul class="hot-deal-countdown">
            <li>
              <div>
                <h3>02</h3>
                <span>Days</span>
              </div>
            </li>
            <li>
              <div>
                <h3>10</h3>
                <span>Hours</span>
              </div>
            </li>
            <li>
              <div>
                <h3>34</h3>
                <span>Mins</span>
              </div>
            </li>
            <li>
              <div>
                <h3>60</h3>
                <span>Secs</span>
              </div>
            </li>
          </ul>
          <h2 class="text-uppercase">hot deal this week</h2>
          <p>New Collection Up to 50% OFF</p>
          <!-- <a class="primary-btn cta-btn" href="#">Shop now</a> -->
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">




    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->


<!-- NEWSLETTER -->
<div id="newsletter" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="newsletter">
          <p>Sign Up for the <strong>NEWSLETTER</strong></p>
          <form>
            <input class="input" type="email" placeholder="Enter Your Email">
            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
          </form>
          <ul class="newsletter-follow">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /NEWSLETTER -->

