<div class="container emp-profile">
  <form novalidate>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="https://i.pinimg.com/originals/dc/55/a0/dc55a0fec14d93d9cf6fa32c32f7c7f2.jpg" alt="{{myUser?.firstName || myUser?.fname}}"/>
          <!-- <div class="file btn btn-lg btn-primary">
            Change Photo
            <input name="file" type="file"/>
          </div> -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            {{myUser?.name || (myUser?.user?.fname + ' ' + myUser?.user?.lname)}}
          </h5>
          
         
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab" href="#home" id="home-tab"
                 role="tab">About</a>
            </li>
            
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <button (click)="onclickEdit(myUser?.user?.id || myUser?.user?.userId)" class="btn btn-secondary btn-sm" name="btnAddMore" type="button">Edit Profile</button>
        <button (click)="logout()" class="btn btn-secondary btn-sm" name="btnAddMore" type="button">Logout</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <!-- <div class="profile-work">
          <p>WORK LINK</p>
          <a href="">Website Link</a><br/>
          <a href="">Bootsnipp Profile</a><br/>
          <a href="">Bootply Profile</a>
          <p>SKILLS</p>
          <a href="">Web Designer</a><br/>
          <a href="">Web Developer</a><br/>
          <a href="">WordPress</a><br/>
          <a href="">WooCommerce</a><br/>
          <a href="">PHP, .Net</a><br/>
        </div> -->
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div aria-labelledby="home-tab" class="tab-pane fade show active" id="home" role="tabpanel">
            <div class="row">
              <div class="col-md-6">
                <label>User Id</label>
              </div>
              <div class="col-md-6">
                <p>{{myUser?.user?.id || myUser?.user?.userId}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
              </div>
              <div class="col-md-6">
                <p>{{myUser?.user?.name || myUser?.user?.username}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>{{myUser?.user?.email}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Phone</label>
              </div>
              <div class="col-md-6">
                <p>{{myUser?.user?.phone}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Profession</label>
              </div>
              <div class="col-md-6">
                <p>Student</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </form>
</div>
