<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <ul class="">
            <li><a href="#">Home</a></li>
           
            
            <li class="active">{{myData?.title}}</li>
          </ul>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /BREADCRUMB -->
  
  <!-- SECTION -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- Product main img -->
        
  
        <!-- Product thumb imgs -->
        <div class="col-md-6  col-md-pull-5">
          
          <ng-image-slider [images]="imageObject" imageSize='{width: 300, height: 300, space: 3}' #nav></ng-image-slider>
        </div>
        <!-- /Product thumb imgs -->
  
        <!-- Product details -->
        <div class="col-md-6">

          <div class="product-details">
            <h2 >{{myData?.title}}</h2>
            
            
            <p>
              {{myData?.post_content}}
            </p>
  
           
  
            
  
            
  
          </div>
        </div>
        <!-- /Product details -->
  
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /SECTION -->
  