<div class="container ">
    <ng-container *ngIf="registrationMessage?.length > 0">
      <div class="alert alert-success alert-dismissible">
        {{registrationMessage}}
      </div>
    </ng-container>
  
    <form (ngSubmit)="registerAccomodation()" [formGroup]="accomodationForm" class="form-horizontal" novalidate>
      <div class="row">
        
        <div class="col-md-12">
          <h2>Add Accomodation</h2>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="fname">Title</label>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-prepend" style="width: 2.6rem"></div>
              <input class="form-control" formControlName="title" id="title" name="title"
                     placeholder="Title"
                     required type="text">
                     <input class="form-control" formControlName="author" value="" id="author" name="author"
                     placeholder="Title"
                     type="hidden" >
            </div>
          </div>
        </div>
        
      </div>
     

      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="fname">Property Short Description</label>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-prepend" style="width: 2.6rem"></div>
              <input class="form-control" formControlName="post_short_content" id="post_short_content" name="post_short_content"
                     placeholder="Property Short Description"
                     required type="text">
            </div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="fname">Property Description</label>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-prepend" style="width: 2.6rem"></div>
              
                     <textarea class="form-control" formControlName="post_content" id="post_content" name="post_content"
                     placeholder="Property Description"
                     required></textarea>
            </div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="fname">Address</label>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-prepend" style="width: 2.6rem"></div>
              
                     <textarea class="form-control" formControlName="address" id="address" name="address"
                     placeholder="Address"
                     required></textarea>
            </div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="fname">Accomodation type</label>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-prepend" style="width: 2.6rem"></div>
              
                     <select class="form-control" formControlName="accomodation_type" id="accomodation_type" name="accomodation_type"
                   
                     required>
                     <option value=" ">Select Accomodation type</option>
                      <option value="House">House</option>
                      <option value="Room">Room</option>
                      <option value="Flats">Flats</option>
                      <option value="Villa">Villa</option>
                    </select>
            </div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="fname">Other Data</label>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-prepend" style="width: 2.6rem"></div>
              
              <input class="form-control" formControlName="bedroom" id="bedroom" name="bedroom"
              placeholder="Bed Room number only"
              required type="number">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-prepend" style="width: 2.6rem"></div>
              
              <input class="form-control" formControlName="bathroom" id="bathroom" name="bathroom"
              placeholder="Bathroom number only"
              required type="number">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-prepend" style="width: 2.6rem"></div>
              
              <input class="form-control" formControlName="parking_area" id="parking_area" name="parking_area"
              placeholder="Parking area number only"
              required type="number">
            </div>
          </div>
        </div>
        
      </div>
      
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="fname">Floor Area</label>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-prepend" style="width: 2.6rem"></div>
              <input class="form-control" formControlName="floor_area" id="floor_area" name="floor_area"
                     placeholder="197m²"
                     required type="text">
            </div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="fname">Accomodation price</label>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-prepend" style="width: 2.6rem"></div>
              <input class="form-control" formControlName="accomodation_price" id="accomodation_price" name="accomodation_price"
                     placeholder="$13,319 / month*"
                     required type="text">
            </div>
          </div>
        </div>
        
      </div>

      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="email"> Images Gallery</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
              <input class="form-control" (change)="onFileSelect($event)"  id="productImagesMulti" name="productImagesMulti"
                     required type="file" multiple>
            </div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="fname">Accomodation type</label>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-prepend" style="width: 2.6rem"></div>
              
                     <select class="form-control" formControlName="furnished" id="furnished" name="furnished"
                   
                     required>
                     <option value=" ">Select Furnished</option>
                      <option value="Furnished">Furnished</option>
                      <option value="Semi Furnished">Semi Furnished</option>
                      <option value="Not Furnished">Not Furnished</option>
                      
                    </select>
            </div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="fname">Dwelling type</label>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-prepend" style="width: 2.6rem"></div>
              <input class="form-control" formControlName="dwelling_type" id="dwelling_type" name="dwelling_type"
                     placeholder="Dwelling type"
                     required type="text">
            </div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="fname">Available</label>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-prepend" style="width: 2.6rem"></div>
              <input class="form-control" formControlName="available" id="available" name="available"
                     placeholder="Available*"
                     required type="date">
            </div>
          </div>
        </div>
        
      </div>
      
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <button [disabled]="(accomodationForm.invalid || accomodationForm.pending) && accomodationForm.touched "
                  class="btn btn-success" type="submit">
            <i class="fa fa-user-plus"></i> Save
          </button>
        </div>
      </div>

      
      
    </form>
  </div>
  